html {
    width: 100%;
    height: 100%;
}

:root {
    --bg-color: #161616;
    --grid-bg: #333;
    /* --cell-bg: #066; */
    --cell-bg: teal;
    /* --cell-bg: #0066aa; */
    --cell-border: #444;
    --text-color: #eee;
    --text-hover: #fff;
    --version-color: #505050;
    --replay-button: #900;

    --hit-cell-bg: #900;
    --miss-cell-bg: #2a2a2a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
}

.content {
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 411px; /* 40px cell * 10 cols + 8px padding * 2 - 5px */
    padding: 10px;
    margin: 0 auto;
}

.rules {
    width: 411px; /* 40px cell * 10 cols + 8px padding * 2 - 5px */
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.version {
    font-size: 75%;
    color: var(--version-color);
}

#status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2px;
}

#messageField {
    margin-bottom: 2px;
}

.grid {
    position: relative;
    display: grid;
    margin: auto;
    width: 400px; /* 40px cell * 10 cols */
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    /* gap: 2px; */
    background-color: var(--grid-bg);
    padding: 8px;
    border-radius: 4px;
}

.cell {
    background-color: var(--cell-bg);
    border: 1px solid var(--cell-border);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .cell.hit {
    background-color: var(--hit-cell-bg);
}

.cell.miss {
    background-color: var(--miss-cell-bg);
} */

.imageHit {
    width: 75%;
    height: 75%;
    background-color: var(--hit-cell-bg);
    border-radius: 50%;
}

.imageMiss {
    width: 20%;
    height: 20%;
    background-color: var(--miss-cell-bg);
    border-radius: 50%;
}

#replayButton {
    display: none;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    top: 28.2%; /* FIXME very bad method */
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 10px 20px;
    background-color: var(--replay-button);
    color: var(--text-color);
    border: 1px solid var(--cell-border);
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    min-width: max-content;
    /* TODO drop shadow or something */
    /* TODO darken gameboard */
}

#replayButton:hover {
    background-color: #e00;
    color: var(--text-hover);
}

li {
    white-space-collapse: preserve;
}